<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182577790958-ninpoj66clg2gts1efpd0vduh643e26m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182577790958-ninpoj66clg2gts1efpd0vduh643e26m</string>
	<key>API_KEY</key>
	<string>AIzaSyDAl9yFKSS93qa33kj5LO26BttlwpzqXIc</string>
	<key>GCM_SENDER_ID</key>
	<string>182577790958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fazlerabbikhan.nutriSuggest</string>
	<key>PROJECT_ID</key>
	<string>nutri-suggest</string>
	<key>STORAGE_BUCKET</key>
	<string>nutri-suggest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182577790958:ios:36ac0bf8ff2e385e3398ff</string>
</dict>
</plist>